<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="colntrev.test">

    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AnalyzeActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".TrendActivity" android:screenOrientation="landscape" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".SetupActivity" />
        <activity android:name=".RecordSleepActivity" />

        <receiver
            android:name=".ReminderBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".ReminderService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".TipsActivity"></activity>
    </application>

</manifest>